/*
=======================================
Flags with symbol in the middle-stripe
=======================================
*/

.symbol {
  width: 33.3333%;
  justify-content: center;
  align-items: center;
}