/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
Italy flag
==================================
*/

.stripe-one {
  background: #009344;
}

.stripe-two {
  background: #fff;
}

.stripe-three {
  background: #cf2734;
}