/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
Cambodia flag
==================================
*/

.stripe-one, .stripe-three {
	background: #002aa3;
}

.stripe-two {
  background: #e10020;
}

.symbol {
  height: 58%;
}

.cambodia-symbol {
  width: 280px;
  height: auto;
}