/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Hungary flag
====================================
*/

.stripe-one {
  background: #cf2436;
}

.stripe-two {
  background: #fff;
}

.stripe-three {
  background: #45714f;
}