/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
Romania flag
==================================
*/

.stripe-one {
	background: #002979;
}

.stripe-two {
  background: #efc615;
}

.stripe-three {
	background: #c41024;
}