/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
Mexico flag
==================================
*/

.stripe-one {
	background: #006845;
}

.stripe-two {
  background: #fff;
}

.coat-of-arms {
  width: 180px;
  height: 180px;
}

.stripe-three {
	background: #cf0821;
}