/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Armenia flag
====================================
*/

.stripe-one {
  background: #d90012;
}

.stripe-two {
  background: #0033a0;
}

.stripe-three {
  background: #f2a800;
}