/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Netherlands flag
====================================
*/

.stripe-one {
  background: #b01623;
}

.stripe-two {
  background: #fff;
}

.stripe-three {
  background: #1b448c;
}