/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Lithuania flag
====================================
*/

.stripe-one {
  background: #fdba0b;
}

.stripe-two {
  background: #006a42;
}

.stripe-three {
  background: #c22229;
}