/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Sierra Leone flag
====================================
*/

.stripe-one {
  background: #17b637;
}

.stripe-two {
  background: #fff;
}

.stripe-three {
  background: #0073c7;
}