/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
Denmark flag
==================================
*/

.item {
	background: #c7042c;
}

.flag {
  background: #fff;
}