/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Colombia flag
====================================
*/

.stripe-one {
  background: #ffce00;
  flex-grow: 2;
}

.stripe-two {
  background: #002c88;
}

.stripe-three {
  background: #c9082a;
}