/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
India flag
==================================
*/

.stripe-one{
	background: #ff9a30;
}

.stripe-two {
  background: #fff;
}

.coat-of-arms {
  width: 100px;
  height: 100px;
}

.stripe-three {
	background: #098901;
}