/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Luxembourg flag
====================================
*/

.stripe-one {
  background: #ee2436;
}

.stripe-two {
  background: #fff;
}

.stripe-three {
  background: #00a3df;
}