/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
Indonesia flag
==================================
*/

.stripe-one {
	background: #f20000;
}

.stripe-two {
	background: #fff;
}