/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
Argentina flag
==================================
*/

.stripe-one, .stripe-three {
	background: #74acdf;
}

.stripe-two {
  background: #fff;
}

.argentina-symbol{
  width: 120px;
  height: 120px;
}