/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Mauritius flag
====================================
*/

.stripe-one {
  background: #eb2336;
}

.stripe-two {
  background: #131a6d;
}

.stripe-three {
  background: #ffd600;
}

.stripe-four {
  background: #00a750;
}