/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Yemen flag
====================================
*/

.stripe-one {
  background: #cf0821;
}

.stripe-two {
  background: #fff;
}

.stripe-three {
  background: #000;
}