/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
Sweden flag
==================================
*/

.item {
	background: #006aa9	
}

.flag {
  background: #fecd00;
}