/*
====================================
Russia flag
====================================
*/

.stripe-one {
  background: #fff;
}

.stripe-two {
  background: #0036a8;
}

.stripe-three {
  background: #d62718;
}