/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Bulgaria flag
====================================
*/

.stripe-one {
  background: #fff;
}

.stripe-two {
  background: #00976e;
}

.stripe-three {
  background: #d7210a;
}