/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Estonia flag
====================================
*/

.stripe-one {
  background: #3a75c4;
}

.stripe-two {
  background: #000;
}

.stripe-three {
  background: #fff;
}