/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
Bolivia flag
==================================
*/

.stripe-one {
	background: #d62718;
}

.stripe-two {
  background: #f9e400;
}

.bolivia-symbol {
  width: 132px;
  height: auto;
}

.stripe-three {
	background: #007a31;
}