/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Austria flag
====================================
*/

.stripe-one, .stripe-three {
  background: #ee2436;
}

.stripe-two {
  background: #fff;
}