/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Gabon flag
====================================
*/

.stripe-one {
  background: #009f60;
}

.stripe-two {
  background: #fcd20e;
}

.stripe-three {
  background: #3776c5;
}