/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Ukraine flag
====================================
*/

.stripe-one {
  background: #255ba3;
}

.stripe-two {
  background: #fed501;
}