/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
Azerbaijan flag
==================================
*/

.stripe-one {
	background: #00b6e3;
}

.stripe-two {
  background: #f0303e;
}

.azerbaijan-symbol {
  width: 145px;
  height: auto;
}

.stripe-three {
	background: #4f9f2b;
}