/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
Germany flag
==================================
*/

.stripe-one {
	background: #000;

}

.stripe-two {
  background: #d20000;
}

.stripe-three {
	background: #f2c400;
}