/*
=====================
Author: Helena Maruf
=====================
*/

/* 
==================================
France flag
==================================
*/

.stripe-one {
  background: #002395;
}

.stripe-two {
  background: #fff;
}

.stripe-three {
  background: #ed2939;
}