/*
=====================
Author: Helena Maruf
=====================
*/

/*
====================================
Poland flag
====================================
*/

.stripe-one {
  background: #fff;
}

.stripe-two {
  background: #dd0c39;
}